@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MVC Core 基礎</h1>

    <div class="card">
        <h5 class="card-header">Section Script</h5>
        <div class="card-body">
            <p>
                功用是只在這個頁面引入需要js檔<br>
                在_layout.cshtml最下面RenderSection("Scripts", required: false)<br>
                假如Privacy頁面需要使用到xxx.js檔案<br>
                可以＠Section Script{}內引入xxx.js檔
            </p>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Middleware的使用</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="/">No Middleware</a>
                <a class="list-group-item list-group-item-action" href="/?callmymiddleware=true">Call My Middleware</a>
                <a class="list-group-item list-group-item-action" href="/branch">Middleware Branch</a>
                <a class="list-group-item list-group-item-action" href="/branch?callmymiddleware=true">Call My Middleware Middleware Branch</a>
            </div>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header">Controller的使用</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("Action1", "Home")">回傳不同的View</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Action2", "Home")">回傳string</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Action3", "Home")">回傳Json</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("Action4", "Home")">回傳ViewModel、ViewBag、ViewData、RouteData</a>


                <form asp-controller="Home" asp-action="Action5" method="post" class="list-group-item list-group-item-action">
                    <label for="url">重新導向</label>
                    <input name="url" type="text" />
                    <input type="submit" />
                </form>


                <a class="list-group-item list-group-item-action" href="@Url.Action("Action6", "Home")">回傳PartialView</a>

            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">狀態管理</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseTempData", "Home")">UseTempData</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseCookie", "Home")">UseCookie</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseSession", "Home")">UseSession</a>

            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Tag Helper</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseFormTagHelperAttributes", "Home")">Use Form Tag Helper Attributes</a>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">依賴注入</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("CounterPlusOne", "Home")">計數器+1</a>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Config檔與Log記錄</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("ConfigAndLog", "Home")">讀取Config</a>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">過濾器、DI過濾器、例外處理過濾器</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseFilter", "Home")">使用過濾器(分鐘數為偶數會回傳403Forbidden)</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseAsyncFilter", "Home")">使用Async過濾器(分鐘數為偶數會回傳403Forbidden)</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseAsyncAndNonAsyncFilter", "Home")">使用過濾器與Async過濾器(分鐘數為偶數會回傳403Forbidden)</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseMyCustomDIFilter", "Home")">使用DI過濾器與Async過濾器(分鐘數為偶數會回傳403Forbidden)</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("UseMyCustomExceptionFilter", "Home")">使用例外處理過濾器</a>
            </div>
        </div>
    </div>

    <div class="card">
        <h5 class="card-header">Identity Server 4</h5>
        <div class="card-body">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" href="@Url.Action("IdentityServerConfig", "Home")">呼叫identity server 4 取得config設定</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("IdentityServerAdminToken", "Home")">呼叫identity server 4 取得Admin access token</a>
                <a class="list-group-item list-group-item-action" href="@Url.Action("IdentityServerUserToken", "Home")">呼叫identity server 4 取得User access token</a>
                <button class="list-group-item list-group-item-action" id="AdminGet">Admin Get</button>
                <button class="list-group-item list-group-item-action" id="AdminGet">User Get</button>

            </div>
            <div class="IdSMessage"></div>
        </div>
    </div>

</div>

@section Scripts{
    <script>$("#AdminGet").click(function () {
            // 在頁面載入時，從 cookie 中獲取 access_token
            // 從 cookie 中獲取 access_token
            var cookies = document.cookie.split("; ");
            for (var i = 0; i < cookies.length; i++) {
                var parts = cookies[i].split("=");
                if (parts[0] === "MyAccessTokenCookie") {
                    var accessToken = parts[1];
                    break;
                }
            }

            // 檢查 access_token 是否存在
            if (!accessToken) {
                alert("無Token");
                return;
            }

            // 在發送 AJAX 請求時，將 access_token 附加到 header 中
            $.ajax({
                url: "/home/AdminGet",
                headers: {
                    "Authorization": `Bearer ${accessToken}`
                },
                success: function (response) {
                    // 處理響應
                    alert(response);
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        });
        $("#UserGet").click(function () {
            // 在頁面載入時，從 cookie 中獲取 access_token
            // 從 cookie 中獲取 access_token
            var cookies = document.cookie.split("; ");
            for (var i = 0; i < cookies.length; i++) {
                var parts = cookies[i].split("=");
                if (parts[0] === "MyAccessTokenCookie") {
                    var accessToken = parts[1];
                    break;
                }
            }

            // 檢查 access_token 是否存在
            if (!accessToken) {
                alert("無Token");
                return;
            }

            // 在發送 AJAX 請求時，將 access_token 附加到 header 中
            $.ajax({
                url: "/home/UserGet",
                headers: {
                    "Authorization": `Bearer ${accessToken}`
                },
                success: function (response) {
                    // 處理響應
                    alert(response);
                },
                error: function (xhr) {
                    // 處理錯誤
                    alert(xhr);
                }
            });
        });</script>
}
